Makefile
config.h
config.log
config.status
libtool
pixmaps/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
po/cz.gmo
po/fr.gmo
po/nb_NO.gmo
po/stamp-it
po/sv.gmo
src/.deps/
src/*.o
src/Makefile
src/ini2dev
src/oww
src/owwnogui
stamp-h1
